@use '../custom' as *;


.service{
    .heading-line{
        margin-top: 5rem;
        color: $gray-500;
    }
    &--heading{
        font-size: 1rem;
        margin-top: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: $gray-600;
    }
    i{
        font-size: 1.5rem;
        color: $gray-600;
        margin-top: 0.5rem;
    }
}

.services{
    padding: 1rem 0;
    &__contant{
        padding: 1rem;
        margin-top: 5rem;
    }
    h3{
        font-family: "Roboto", sans-serif;
        font-size: 2rem;
        display: block;
        font-weight: 400;
    }

}